body * {
    border: 2px solid black;
    height: 150px;
    text-align: center;
    font-size: 2rem;
}

header, nav, footer {
    margin: 5px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

aside {
    width: 757px;
    height: 270px;
}

.contentA, .contentB{
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.contentA{
    margin-left: 5px;
}

.contentB{
    margin-right: 5px;
}